@model ResponseModel
@using AssignmentSubmission.BAL.Services

@{
    var assignmentData = (List<AssignmentStatusModel>)Model.data;
    int count = 1;
}
<h3 class="text-center">Assignment Status</h3>


@Html.ActionLink("Upload Assignment", "UploadAssignment", "Assignment", null, new { @class = "btn btn-primary float-right" })
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Subject/Course</th>
            <th scope="col">Assignment</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Marks</th>
            <th scope="col">Viva Marks</th>
            <th scope="col">Total Marks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in assignmentData)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.CourseName</td>
                <td>@item.Path</td>
                <td>@item.Status</td>
                <td>@item.DateOfCreated</td>
                <td>@item.Marks</td>
                <td>@item.VivaMarks</td>
                <td>@(item.Marks+item.VivaMarks)</td>
                @*<td>
                    @Html.ActionLink("Edit", "EditTeacher", "Master", new { Id = item.UserId }, new { @class = "btn btn-info " })
                    @Html.ActionLink("Delete", "DeleteTeacher", "Master", new { Id = item.UserId }, new { @class = "btn btn-danger " })
                </td>*@
            </tr>
            count++;
        }
    </tbody>
</table>
